.App{  
  height: 100vh;  
  background-color: black;
}
.rowC {
  display:flex; flex-direction:row; 
}
.colC {
  display:flex; flex-direction:column;
}
.item {
  flex-grow: 1;
}
.content {
  padding: 0px;
  color: white;
}
.infoText {
  word-wrap: break-word;
  white-space: normal
}