/* styling for the navigation bar */

.navigation-bar-container{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
}

.navbar {
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.nav-link{   
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}

.navigation-logo{  
  height:50px;
  border-radius:50%;
}

.dropdown-logo{  
  height:30px;
  border-radius:50%;
}

.connectAccountButton{
  white-space: nowrap;
  overflow: hidden;

}
.checkmark {
  color: green;
}